<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'the_main_space/css/style.css' %}" type="text/css">
        <title>LOGIN OR SUBSCRIBE</title>
    </head>
    <body>
        <header id="header">
            <img src="{% static 'the_main_space/images/LogoMakr-05nrqV.png' %}" alt="">
            <div class="ontheroad">
                {% block title %}<h1>ON THE ROAD JS</h1>{% endblock title %}
            </div>
            <div id="connection_submit">
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" >Se connecter</button>
                </form>
                <p>Pas encore membre ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
            </div>
            {% if user.is_authenticated %}
                <p> 
                    Vous êtes connecté en tant que {{ user }}. 
                    <a href="{% url 'logout' %}">
                        Se déconnecter
                    </a>
                </p>
            {% endif %}
        </header>
    </body>
</html>