<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'the_main_space/css/style.css' %}" type="text/css">
        <title>SUBSCRIBE</title>
    </head>
    <body>
        <div id="subscription">
            <img src="{% static 'the_main_space/images/LogoMakr-05nrqV.png' %}" alt="">
            <h1>Inscrivez-vous</h1>
            <form method="post" enctype="multipart/form-data">
                {{ form.username }}
                {{ form.first_name }}
                {{ form.last_name }}
                {{ form.email }}
                {{ form.password }}
                {{ form.profile_photo }}
                {% csrf_token %}
                <div id="subscribe_return">
                    <button type="submit" >S’inscrire</button>
                    <a href="{% url 'login' %}" class="deconnexion_retour">
                        Retour
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>