$playball: 'Playball', cursive;
$yatra: 'Yatra One', cursive;
$sonzie: 'Sonsie One', cursive;
$finger: 'Finger Paint', cursive;
$contrail: 'Contrail One', cursive;
$cinzel: 'Cinzel Decorative', cursive;
$knewave: 'Knewave', cursive;
$paytone: 'Paytone One', sans-serif;
$kaushan: 'Kaushan Script', cursive;

